container_commands:
  04_migrate:
    command: "python populate_attribute.py"
    leader_only: true
  01_migrate:
    command: "python populate_user.py"
    leader_only: true
  02_migrate:
    command: "python populate_roles.py"
    leader_only: true
  03_migrate:
    command: "python populate_metricdata.py"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: ebdjango.settings