container_commands:
  00_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  01_migrate:
    command: "python populate_user.py"
    leader_only: true
  02_migrate:
    command: "python populate_roles.py"
    leader_only: true
  03_migrate:
    command: "python populate_attribute.py"
    leader_only: true  
  04_migrate:
    command: "python populate_metricdata.py"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: KPI_project.settings
  "aws:elasticbeanstalk:container:python":
     WSGIPath: "KPI_project/wsgi.py"