container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_populate:
    command: "python populate_company.py"
  03_populate:
    command: "python populate_attribute.py"
  04_populate:
    command: "python populate_user.py"
  05_populate:
    command: "python populate_roles.py"
  06_populate:
    command: "python populate_dimensionValue.py"
  07_populate:
    command: "python populate_metricdata.py"
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: ebdjango.settings