body {
	padding-top: 10px;
}

a {
	color: white;
}
.panel-heading{
	height: 65px;
	background-color: #0A289F;
}
.panel-footer{
	height: 25px;
	background-color: #337ab7;
}
.panel > .table-responsive > .table-default {
  border: 1px solid #ddd;
}

#text {
	padding-top: 5px;
	padding-left: 30px;
}
#combo {
	padding-top: 10px;
	padding-left: 20px;

}

#applybtn {
	width: 100px;

}
#head{
	padding-top: 1px;
}

.btn-default ,#dropdownMenu1:hover {
	border-color: #F39C12;
	color: #F39C12;
	width: 150px;
	background-color: #ffffff;
}


