<!DOCTYPE html>
{% load staticfiles %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html>
	<head>
		<title>
			KPI
		</title>
		<meta charset="utf-8">
		<meta  name="viewport" content="width=device-width, initial-scale=1.0">
		<title></title>
		<link rel="stylesheet" type="text/css" href="{% static 'kpi_app/css/kpi_app.css' %}">
		<div class="container">
			<div class = "col-md-6">
				<h4>Key Performance Indicators</h4>
			</div>
		</div>
		


	</head>
	<body>

<div class="container">
		<div class="panel panel-primary">
		  <div class="panel-heading ">
		  	<div class="col-md-12">
				<ul class="nav nav-tabs">
				  <li role="presentation"><a href="/KPI/home/">Executive Summary</a></li>
				  <li role="presentation"><a href="/KPI/charts/">Annual Key Metrics: Trends</a></li>
				  <li role="presentation"><a href="">{{ context_dict1.tab3 }}</a></li>
				  <li role="presentation"><a href="">{{ context_dict1.tab4 }}</a></li>

				{% for rol in role %}
				{% if "data_loader" == rol.role_name %}
				  <li role="presentation"><a href="/KPI/upload-data/">Upload data</a></li>
				{% endif %}
				{% endfor %}

				  <div class="dropdown pull-right">
						  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						     Welcome, {{ user.first_name}}! <span class="glyphicon glyphicon-chevron-down" ></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li ><a href="/logout/">Logout</a></li>
						     {% for rol in role %}
						    {% if "admin" == rol.role_name %}
						    <!--<li><a href='/KPI/company/'>Company Setup</a></li>
						    <li><a href='/KPI/user/'>User Setup</a></li>
						    <li><a href='/KPI/dimension/'>Dimension Setup</a></li>-->
						    <li><a href='/admin/'>Setup</a></li>
						  	{% endif %}
						  	{% endfor %}
						  </ul>
						  
					  </div>
				</ul>
			</div>
		  </div>
		  <div class="panel-body">
		  	<div class="row container" id="text">
				<div class="col-md-2">{{context_dict1.filter1}}</div>
				<div class="col-md-2">{{context_dict1.filter2}}</div>
				<div class="col-md-2">{{context_dict1.filter3}}</div>
				<div class="col-md-2">Year</div>
				<div class="col-md-2">Month</div>
			</div>
			<div class="row container" id="combo">
				
				  <div class="col-md-2">
					  <div class="dropdown">
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    SELECT
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						  <!--{% for key,value in filtervalues.items %}
						  {% if key == context_dict1.filter1 %}
						  {% for v in value %}
						   <li><a href="#">{{v}}</a></li>
						  {% endfor %}
						  {% endif %}
						  {% endfor %}-->
						  {% for items in context_dict1.combo1 %}
						  <li><a href="#">{{ items }}</a></li>
						  {% endfor %}
						  </ul>
					  </div>
				  </div>
				  <div class="col-md-2">
				  	<div class="dropdown">
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    SELECT
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						   <!--{% for key,value in filtervalues.items %}
						  {% if key == context_dict1.filter2 %}
						  {% for v in value %}
						   <li><a href="#">{{v}}</a></li>
						  {% endfor %}
						  {% endif %}
						  {% endfor %}-->
						   {% for items in context_dict1.combo2 %}
						  <li><a href="#">{{ items }}</a></li>
						  {% endfor %}
						  </ul>
						  </ul>

					  </div>
				  </div>
				  <div class="col-md-2">
				  	<div class="dropdown">
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    SELECT
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						   <!-- {% for key,value in filtervalues.items %}
						  {% if key == context_dict1.filter3 %}
						  {% for v in value %}
						   <li><a href="#">{{v}}</a></li>
						  {% endfor %}
						  {% endif %}
						  {% endfor %}-->

						   {% for items in context_dict1.combo3 %}
						  <li><a href="#">{{ items }}</a></li>
						  {% endfor %}
						  </ul>
						  </ul>
					  </div>
				  </div>
				  <div class="col-md-2">
				  	<div class="dropdown">
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						   SELECT
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li><a href="#">Action</a></li>
						    <li><a href="#">Another action</a></li>
						    <li><a href="#">Something else here</a></li>
						    <li role="separator" class="divider"></li>
						    <li><a href="#">Separated link</a></li>
						  </ul>
					  </div>
				  </div>
				  <div class="col-md-2">
				  	<div class="dropdown">
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    SELECT
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li><a href="#">Action</a></li>
						    <li><a href="#">Another action</a></li>
						    <li><a href="#">Something else here</a></li>
						    <li role="separator" class="divider"></li>
						    <li><a href="#">Separated link</a></li>
						  </ul>
					  </div>
				  </div>
				  <div class="col-md-2">
				  	<a href="#" id = "applybtn" class="btn btn-warning">Apply</a>
				  </div>

			</div>
		   
		  </div>
		   <div class="panel-footer"></div>
		</div>
</div>
 
	{% block data_loader %}
	{% endblock %}


{% block body %}	

<div class="container">
	 <section id="footer">
		<div class="row text-center">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="panel panel-primary">
					<div class="panel panel-heading"><b>Annual Summary</b></div>
					<div class="panel panel-body table-responsive">
						<table class="table table-default table-hover table-default table-striped">
							<th></th>
							<th>Sem I</th>
							<th>Sem II</th>
							<th>Sem III</th>
							<th>Sem IV</th>
							<th>Sem V</th>
							<th>Sem VI</th>


								<tr>
									<td><b>BCA</b></td>
									<td>66</td>
									<td>78</td>
									<td>70</td>
									<td>88</td>
									<td>80</td>
									<td>85</td>
								</tr>
								<tr>
									<td><b>BBA</b></td>
									<td>80</td>
									<td>76</td>
									<td>65</td>
									<td>82</td>
									<td>79</td>
									<td>90</td>
								</tr>
								<tr>
									<td><b>BCom</b></td>
									<td>67</td>
									<td>89</td>
									<td>77</td>
									<td>85</td>
									<td>72</td>
									<td>63</td>
								</tr>
							
							
						</table>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="panel panel-primary">
					<div class="panel panel-heading"><b>Summary<br/>(Sem 1)</b></div>
					<div class="panel panel-body table-responsive">
						<table class=" table table-hover table-default table-striped">
							<th> </th>
							<th>Fundamentals Of Computer</th>
							<th>Problem Solving And C Programming</th>
							<th>Introduction To Internet And Html</th>
							<th>Basics Of Mathematics</th>
								<tr>
									<td><b>BCA</b></td>
									<td>60</td>
									<td>69</td>
									<td>70</td>
									<td>65</td>
								</tr>

						</table>
					</div>
				</div>
			
			</div>
		</div>
	</section>
</div>
{% endblock %}

<div class="container">
		<script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</div>
	</body>	
</html>

