<!DOCTYPE html>
{% load staticfiles %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html>
	<head>
		<title>
			KPI
		</title>
		<meta charset="utf-8">
		<meta  name="viewport" content="width=device-width, initial-scale=1.0">
		<title></title>
		<link rel="stylesheet" type="text/css" href="{% static 'kpi_app/css/kpi_app.css' %}">
		<div class="container">
			<div class = "col-md-6">
				<h4>Key Performance Indicators</h4>
			</div>
		</div>
		


	</head>
	<body>
<form method="POST">
	{% csrf_token %}

<div class="container">
		<div class="panel panel-primary">
		  <div class="panel-heading ">
		  	<div class="col-md-12">
				<ul class="nav nav-tabs">
				  <li role="presentation"><a href="/KPI/home/">Executive Summary</a></li>
				  <li role="presentation"><a href="/KPI/charts/">Annual Key Metrics: Trends</a></li>
				  <li role="presentation"><a href="">{{ context_dict1.tab3 }}</a></li>
				  <li role="presentation"><a href="">{{ context_dict1.tab4 }}</a></li>

				{% for rol in role %}
				{% if "data_loader" == rol.role_name %}
				  <li role="presentation"><a href="/KPI/upload-data/">Upload data</a></li>
				{% endif %}
				{% endfor %}



				  <div class="dropdown pull-right">
						  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						     Welcome, {{ user.first_name}}! <span class="glyphicon glyphicon-chevron-down" ></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li ><a href="/logout/">Logout</a></li>
						     {% for rol in role %}
						    {% if "Admin" == rol.role_name %}
						    <!--<li><a href='/KPI/company/'>Company Setup</a></li>
						    <li><a href='/KPI/user/'>User Setup</a></li>
						    <li><a href='/KPI/dimension/'>Dimension Setup</a></li>-->
						    <li><a href='/admin/'>Setup</a></li>
						  	{% endif %}
						  	{% endfor %}
						  </ul>
						  
					  </div>
				</ul>
			</div>
		  </div>
		  <div class="panel-body">
		  	<div class="row container" id="text">
				<div class="col-md-2">{{context_dict1.filter1}}</div>
				<div class="col-md-2">{{context_dict1.filter2}}</div>
				<div class="col-md-2">{{context_dict1.filter3}}</div>
				<div class="col-md-2">Year</div>
				<div class="col-md-2">Month</div>
			</div>


			<div class="row container" id="combo">				
				  <div class="col-md-2">
					  	<select class="selectpicker" id="filterID1" name='filter1' data-width="150px">
					  	<option value="all" selected>ALL</option>
						  {% for items in context_dict1.combo1 %}
						 	<option value='{{items}}'>{{ items }}</option>
						  {% endfor %}
						</select>
				  </div>
				  <div class="col-md-2">
				  	<select class="selectpicker" id="filterID2" name='filter2' data-width="150px">
				  	<option value="all" selected>ALL</option>
						  {% for items in context_dict1.combo2 %}
						 	<option value='{{items}}'>{{ items }}</option>
						  {% endfor %}
						</select>
				  </div>
				  <div class="col-md-2">
				  	<select class="selectpicker" id="filterID3" name='filter3' data-width="150px">
				  	<option value="all" selected>ALL</option>
						  {% for items in context_dict1.combo3 %}
						 	<option value='{{items}}'>{{ items }}</option>
						  {% endfor %}
						</select>
				  </div>
				  <div class="col-md-2">
				  	<select class="selectpicker" id="filterID4" name='filter4' data-width="150px">
				  	<option value="all" selected>ALL</option>
						  {% for items in context_dict1.combo %}
						 	<option value='{{items}}'>{{ items }}</option>
						  {% endfor %}
						</select>
				  </div>
				  <div class="col-md-2">
				  	<select class="selectpicker" id="filterID5" name='filter5' data-width="150px">
				  	<option value="all" selected>ALL</option>
						  {% for items in context_dict1.combo %}
						 	<option value='{{items}}'>{{ items }}</option>
						  {% endfor %}
						</select>
				  </div>
				  <div class="col-md-2">
				  	
				  	<button class="btn btn-warning" name='applybtn'>Apply</button>
				  </div>

			</div>
		   
		  </div>
		   <div class="panel-footer"></div>
		</div>
</div>
 
	{% block data_loader %}
	{% endblock %}


{% block body %}	

<div class="container">
	 <section id="footer">
		<div class="row text-center">
			<div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
				<div class="panel panel-primary">
					<div class="panel panel-heading"><b>Report for the latest week</b></div>
					<div class="panel panel-body table-responsive">
						<table class="table table-default table-hover table-default table-striped">
							<th></th>
							{% for x in headers %}
						 		<th>{{ x }}</th>
						  	{% endfor %}
						  	
						  	{% for value in report_dict %}
						 		<tr>
						 		<td></td>
						 		{% for x in headers %}
						 			{% for key, value in value.items %}
						 			{% if key == x %}
						 			<td>{{ value }}</td>
						 			{% endif %}
						 			{% endfor %}
						 		{% endfor %}
						 		</tr>
						  	{% endfor %}
							
						</table>
					</div>
				</div>
			</div>

		</div>
	</section>
</div>
{% endblock %}
</form>
<div class="container">
		<script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>

</div>
	</body>	
</html>

