{%extends "kpi_app/home.html"%}

{% block body %}	

<div class="container">
	 <section id="footer">
		<div class="row text-center">
			<div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
				<div class="panel panel-primary">
					<div class="panel panel-heading"><b>Order to Batch Creation</b></div>
					<div class="panel panel-body table-responsive">
						<table class="table table-default table-hover table-default table-striped">	  
						<tr>
						
						<th class = 'text-center'>Product Family</th>
						<th class= 'text-center'>Average</th>							
						  	
						</tr>
							
						  	{% for v in report_dict %}

						 		<tr>
						 			{% if v.metric_name == 'Order to Batch Creation' %}
						 			{% for x,y in v.items %}
						 			{% if y != 'Order to Batch Creation' %}
						 			<td>{{ y }}</td>
						 			{% endif %}
						 			{% endfor %}
						 			{% endif %}
						 		</tr>
						 	{% endfor %}						
						</table>
					</div>
				</div>
			</div>

		</div>
		<div class="row text-center">
			<div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
				<div class="panel panel-primary">
					<div class="panel panel-heading"><b>Batch Creation to Packaging</b></div>
					<div class="panel panel-body table-responsive">
						<table class="table table-default table-hover table-default table-striped">
							<tr>
							<th class = 'text-center'>Product Family</th>
						<th class= 'text-center'>Average</th>	
							
						  	
							
						  	
						</tr>
							
						  	{% for v in report_dict %}

						 		<tr>
						 			{% if v.metric_name == 'Batch Creation to Packaging' %}
						 			{% for x,y in v.items %}
						 			{% if y != 'Batch Creation to Packaging' %}
						 			<td>{{ y }}</td>
						 			{% endif %}
						 			{% endfor %}
						 			{% endif %}
						 		</tr>
						 	{% endfor %}	
							
						</table>
					</div>
				</div>
			</div>

		</div>
		<div class="row text-center">
			<div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
				<div class="panel panel-primary">
					<div class="panel panel-heading"><b>Packaging to QA Release</b></div>
					<div class="panel panel-body table-responsive">
						<table class="table table-default table-hover table-default table-striped">
							<tr>
							<th class = 'text-center'>Product Family</th>
						<th class= 'text-center'>Average</th>	
						  	
							
						  	
						</tr>
							
						  	{% for v in report_dict %}

						 		<tr>
						 			{% if v.metric_name == 'Packaging to QA Release' %}
						 			{% for x,y in v.items %}
						 			{% if y != 'Packaging to QA Release' %}
						 			<td>{{ y }}</td>
						 			{% endif %}
						 			{% endfor %}
						 			{% endif %}
						 		</tr>
						 	{% endfor %}	
							
						</table>
					</div>
				</div>
			</div>

		</div>
		<div class="row text-center">
			<div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
				<div class="panel panel-primary">
					<div class="panel panel-heading"><b>Order Creation to QA Release</b></div>
					<div class="panel panel-body table-responsive">
						<table class="table table-default table-hover table-default table-striped">
							<tr>
							<th class = 'text-center'>Product Family</th>
						<th class= 'text-center'>Average</th>	
							
						  	
							
						  	
						</tr>
							
						  	{% for v in report_dict %}

						 		<tr>
						 			{% if v.metric_name == 'Order Creation to QA Release' %}
						 			{% for x,y in v.items %}
						 			{% if y != 'Order Creation to QA Release' %}
						 			<td>{{ y }}</td>
						 			{% endif %}
						 			{% endfor %}
						 			{% endif %}
						 		</tr>
						 	{% endfor %}	
						</table>
					</div>
				</div>
			</div>

		</div>
	</section>
</div>
{% endblock %}
</form>
<div class="container">
		<script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>

</div>
</body>	
</html>

